@tailwind base;
@tailwind components;
@tailwind utilities;

img[alt="My Logo"]:hover {
  transform: scale(1.1);
}

.custom-frame {
  @apply text-white p-1 rounded-md shadow-md border-l-4 border-blue-500;
}

.bold-frame {
  @apply text-orange-300 text-xl font-semibold p-2 rounded-md shadow-md
    flex items-center justify-center space-x-4
    bg-gradient-to-r from-gray-800 to-gray-900
    hover:shadow-lg transition-all duration-300;
}

.iframe-container {
  position: relative;
  width: 100%;
  margin: 1.5rem 0;
  overflow: hidden;
  background: #f5f5f5;
  border-radius: 0.5rem;
}